<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orion Health Hospital</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <script type = "text/javascript" 
         src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
          <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    	  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    	  
</head>
<body>
<p>Hello, Welcome to Orion Hospital!</p>
 <script type = "text/javascript">
 	var hashmap;
 	var waitingHashMap;
 	
    $(document).ready(function() {
        $.get( 
           "/services/hello/mapPath",
           { },
           function(data) {
	       	   hashmap = data.body;
    	       console.log(hashmap);
    	       
    	       $.get( 
  	               "/services/hello/waitingMapPath",
  	               { },
  	               function(waitingData) {
  	            	 waitingHashMap = waitingData.body;
  	        	     console.log(waitingHashMap);
	        
			    	var map = L.map('mapid', {
			    		crs: L.CRS.Simple,
			    		minZoom: -3
			    	});
			
			    	var yx = L.latLng;
			
			    	var xy = function(x, y) {
			    		if (L.Util.isArray(x)) {    // When doing xy([x, y]);
			    			return yx(x[1], x[0]);
			    		}
			    		return yx(y, x);  // When doing xy(x, y);
			    	};
			
			    	var bounds = [xy(-25, -26.5), xy(1023, 1021.5)];
			    	var image = L.imageOverlay('http://i63.tinypic.com/2jbjr5e.png', bounds).addTo(map);
			
			    	var em = xy(200, 820.0);
			    	var wait = xy(200, 550.0);
			    	var sol      = xy(360.2, 650.0);
			    	var mizar    = xy( 700, 400);
			    	var kruegerZ = xy( 700,  820);
			    	var deneb    = xy(500.0,   820);
			    	var eight = xy(500.0, 570);
			    	
			    	L.marker(     em).addTo(map).bindPopup(      'em' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			    	L.marker(     wait).addTo(map).bindPopup(      'wait' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			    	L.marker(     em).addTo(map).bindPopup(      'Sol' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			    	L.marker(   mizar).addTo(map).bindPopup(    'Mizar' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			    	L.marker(kruegerZ).addTo(map).bindPopup('Krueger-Z' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			    	L.marker(   deneb).addTo(map).bindPopup(    'Deneb' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			    	L.marker(eight).addTo(map).bindPopup('eight' + JSON.stringify(hashmap["1"]) + "\n" + JSON.stringify(waitingHashMap["1"]));
			
			    	var travel = L.polyline([sol, deneb]).addTo(map);
			
			    	map.setView(xy(120, 70), 1);
		           }
		        );	   
           });
   	
        
        	
        
        	
        	
    });
 </script>	
 
 <div id="mapid" style="height:1500px"></div>
 
<div id="table">
			<table class="table table-bordered">
				<thead>
				</thead>

				<tbody>
					<tr>
						<td>Number of patients in Waiting Room</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Emergency Department</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in General Ward</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for General Ward</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 1</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 1</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 2</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 2</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 3</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 3</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 4</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 4</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Total number of deaths</td>
						<td>81</td>
					</tr>
				</tbody>
			</table>
		</div>
		
</body>
</html>