<!Doctype html>
<html lang="en">

<head>

	<title>Orion Health Patient Flow</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

	<!--Top Nav bar-->
	<nav class="navbar navbar-inverse " id="navigation">
		<div class="container">
			<div class="navbar-header">
   				<h3 class="navbar-text">Patient Flow Statistics for 2020</h3>
  			</div>
		</div>	
	</nav>


	


	<!--Data-->
	<div id ="content" class="container" style="margin-top:30px;">
		
		<div id="table">
			<table class="table table-bordered">
				<thead>
				</thead>

				<tbody>
					<tr>
						<td>Number of patients in Waiting Room</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Emergency Department</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in General Ward</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for General Ward</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 1</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 1</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 2</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 2</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 3</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 3</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients in Ward 4</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Number of patients on waiting list for Ward 4</td>
						<td>81</td>
					</tr>
					<tr>
						<td>Total number of deaths</td>
						<td>81</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="map" class="container">
		 	<img class="img-responsive" alt="Brand" src="map.png" width="700" height="500">
		 </div>

	</div>


</body>


</html>