body {
	background-color:#00cc99;
}

#content {
	width: 100%;
	margin-left:7%;
}

#table {
	max-width:50%;
	float:left;
}

#map {
	margin-left:30%;
}

.navbar-text {
	font-size:40px;
	font-family:verdana;
}